$browser: rgba(21,62,99, 1);
$browser-text: #f2f2f2;

$header-background: #ffffff;

$header-logo-color: rgba(121,134,191, 1);
$header-logo-text: rgba(21,62,99, 1);
$header-menu-color: rgba(121,134,191, 1);

$header-hover-backGround-color: rgba(121,134,191, 1);
$header-hover-color: rgba(21,62,99, 1);

$main-backGround-color: rgba(121,134,191, 1);
$main-header-color: rgba(12,49,76, 1);
$main-backGround-color-sub: rgba(241,242,253, 1);
$main-backGround-color-input: #ffffff;
$main-alert-color: rgb(144, 206, 116);

$placeholder-color: rgba(88, 88, 88, 0.5);